.top-bar{
  margin: 0;
  padding-top: 10px;
  padding-bottom:  10px;
  background:linear-gradient(to right, #00477b 0%, #0064ab 100%);

  .top-bar__div{
    align-items: center;
  }

  .top-bar__div i, .top-bar__div p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
    font-size: 14px;
  }

}
    
      